<form class="{{cssClass}} flex !flex-1 flex-col gap-1 bg-white bg-opacity-50">
	<div class="flex bg-fuchsia-900 w-full p-3 gap-4 items-center">
		<img class="w-14 h-14 -m-2" src="{{ actor.img }}" data-edit="img" alt="{{ actor.name }}" />
		<input type="text" name="name" value="{{ actor.name }}" class="!border-0 !text-white !text-3xl !h-full !font-roboto-flex uppercase focus:normal-case" />
	</div>

	<div class="p-1 flex flex-col gap-4">
		{{!-- Background --}}
		<div class="grid grid-cols-2 gap-1">
			<label class="grid grid-cols-2 gap-1 items-center">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Origin" }}</span>
				<input type="text" name="system.origin" value="{{ system.origin }}" class="!bg-white !rounded-none !bg-opacity-75 !text-center font-semibold !text-fuchsia-900 uppercase focus:normal-case" />
			</label>

			<label class="grid grid-cols-2 gap-1 items-center">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Archetype" }}</span>
				<input type="text" name="system.archetype" value="{{ system.archetype }}" class="!bg-white !rounded-none !bg-opacity-75 !text-center font-semibold !text-fuchsia-900 uppercase focus:normal-case" />
			</label>

			<label class="grid grid-cols-2 gap-1 items-center">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Temperament" }}</span>
				<input type="text" name="system.temperament" value="{{ system.temperament }}" class="!bg-white !rounded-none !bg-opacity-75 !text-center font-semibold !text-fuchsia-900 uppercase focus:normal-case" />
			</label>

			<label class="grid grid-cols-2 gap-1 items-center">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Bond" }}</span>
				<input type="text" name="system.bond" value="{{ system.bond }}" class="!bg-white !rounded-none !bg-opacity-75 !text-center font-semibold !text-fuchsia-900 uppercase focus:normal-case" />
			</label>
		</div>

		{{!-- Traits --}}
		<div class="flex flex-col">
			<span class="w-full bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Traits" }}</span>
			<div class="grid grid-cols-4 gap-x-2 gap-y-1 w-full h-full bg-white border-1 border-t-0 border-fuchsia-200 p-2">
				{{#each system.traits}}
					<div class="border-0 border-b-1 border-solid border-fuchsia-900 pl-2 flex items-center flex-nowrap gap-1 hover:bg-teal-200 hover:bg-opacity-30">
						<input type="text" name="system.traits.{{ @index }}" value="{{ this }}" class="!bg-none !rounded-none !border-none font-semibold" />
						<a data-action="delete-trait" data-index="{{ @index }}" class="text-sm">
							<i class="fas fa-trash"></i>
						</a>
					</div>
				{{/each}}
				<div class="col-span-4 text-right">
					<a data-action="add-trait">
						<i class="fas fa-plus"></i>
						<span>{{ localize "Labels.Actor.AddTrait" }}</span>
					</a>
				</div>
			</div>
		</div>

		{{!-- Attributes --}}
		<div class="grid grid-cols-4">
			<span class="col-span-4 bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Attributes" }}</span>

			<div class="flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a data-action="roll" data-attribute="insight" class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Attributes.Insight" }}</span>
				</a>
				<input type="number" name="system.attributes.insight.value" value="{{ system.attributes.insight.value }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a data-action="roll" data-attribute="might" class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Attributes.Might" }}</span>
				</a>
				<input type="number" name="system.attributes.might.value" value="{{ system.attributes.might.value }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a data-action="roll" data-attribute="quickness" class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Attributes.Quickness" }}</span>
				</a>
				<input type="number" name="system.attributes.quickness.value" value="{{ system.attributes.quickness.value }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a data-action="roll" data-attribute="resolve" class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Attributes.Resolve" }}</span>
				</a>
				<input type="number" name="system.attributes.resolve.value" value="{{ system.attributes.resolve.value }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="flex flex-col p-1 whitespace-nowrap">
				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.insight.exhaustion" {{ checked system.attributes.insight.exhaustion }} />
					<span>{{ localize "Labels.Actor.Exhaustion" }}</span>
				</label>

				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.insight.confused" {{ checked system.attributes.insight.confused }} />
					<span>{{ localize "Labels.Actor.Confused" }}</span>
				</label>
			</div>

			<div class="flex flex-col p-1 whitespace-nowrap">
				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.might.exhaustion" {{ checked system.attributes.might.exhaustion }} />
					<span>{{ localize "Labels.Actor.Exhaustion" }}</span>
				</label>

				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.might.weary" {{ checked system.attributes.might.weary }} />
					<span>{{ localize "Labels.Actor.Weary" }}</span>
				</label>
			</div>

			<div class="flex flex-col p-1 whitespace-nowrap">
				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.quickness.exhaustion" {{ checked system.attributes.quickness.exhaustion }} />
					<span>{{ localize "Labels.Actor.Exhaustion" }}</span>
				</label>

				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.quickness.confused" {{ checked system.attributes.quickness.breathless }} />
					<span>{{ localize "Labels.Actor.Breathless" }}</span>
				</label>
			</div>

			<div class="flex flex-col p-1 whitespace-nowrap">
				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.resolve.exhaustion" {{ checked system.attributes.resolve.exhaustion }} />
					<span>{{ localize "Labels.Actor.Exhaustion" }}</span>
				</label>

				<label class="flex flex-nowrap items-center font-semibold">
					<input type="checkbox" name="system.attributes.resolve.despairing" {{ checked system.attributes.resolve.despairing }} />
					<span>{{ localize "Labels.Actor.Despairing" }}</span>
				</label>
			</div>
		</div>

		{{!-- Skills --}}
		<div class="grid grid-cols-12">
			<span class="col-span-12 bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Skills" }}</span>

			<div class="col-span-3 flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900" data-action="roll" data-skill="fight">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Skills.Fight" }}</span>
				</a>
				<input type="number" name="system.skills.fight" value="{{ system.skills.fight }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="col-span-3 flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900" data-action="roll" data-skill="move">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Skills.Move" }}</span>
				</a>
				<input type="number" name="system.skills.move" value="{{ system.skills.move }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="col-span-3 flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900" data-action="roll" data-skill="operate">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Skills.Operate" }}</span>
				</a>
				<input type="number" name="system.skills.operate" value="{{ system.skills.operate }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="col-span-3 flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900" data-action="roll" data-skill="sneak">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Skills.Sneak" }}</span>
				</a>
				<input type="number" name="system.skills.sneak" value="{{ system.skills.sneak }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="col-span-4 flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900" data-action="roll" data-skill="study">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Skills.Study" }}</span>
				</a>
				<input type="number" name="system.skills.study" value="{{ system.skills.study }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="col-span-4 flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900" data-action="roll" data-skill="survive">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Skills.Survive" }}</span>
				</a>
				<input type="number" name="system.skills.survive" value="{{ system.skills.survive }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>

			<div class="col-span-4 flex flex-col items-center bg-white border-1 border-fuchsia-200 border-solid p-1">
				<a class="flex items-baseline gap-1 font-semibold uppercase text-fuchsia-900" data-action="roll" data-skill="talk">
					<i class="fas fa-dice-d20"></i>
					<span>{{ localize "Skills.Talk" }}</span>
				</a>
				<input type="number" name="system.skills.talk" value="{{ system.skills.talk }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-4xl font-semibold !p-2 !py-6" />
			</div>
		</div>

		{{!-- Coin/TL/etc --}}
		<div class="grid grid-cols-4 gap-4">
			<label class="flex flex-col bg-white border-1 border-fuchsia-200 border-solid">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 justify-center">{{ localize "Labels.Actor.Coin" }}</span>
				<input type="number" name="system.coin" value="{{ system.coin }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-2xl font-semibold !p-2 !h-full" />
			</label>

			<label class="flex flex-col bg-white border-1 border-fuchsia-200 border-solid">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 justify-center">{{ localize "Labels.TechLevel" }}</span>
				<input type="number" name="system.techLevel" value="{{ system.techLevel }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-2xl font-semibold !p-2 !h-full" />
			</label>

			<div class="grid grid-cols-2 bg-white border-1 border-fuchsia-200 border-solid">
				<span class="col-span-2 bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 justify-center">{{ localize "Labels.Actor.Spirit" }}</span>
				<label class="flex flex-col border-fuchsia-200 border-0 border-r-1 border-solid">
					<input type="number" name="system.spirit.value" value="{{ system.spirit.value }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-2xl font-semibold !p-2 !h-full" />
					<span class="border-t-1 border-fuchsia-200 text-fuchsia-900 uppercase text-xs flex items-center justify-center">{{ localize "Labels.Current" }}</span>
				</label>
				<label class="flex flex-col">
					<input type="number" name="system.spirit.max" value="{{ system.spirit.max }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-2xl font-semibold !p-2 !h-full" />
					<span class="border-t-1 border-fuchsia-200 text-fuchsia-900 uppercase text-xs flex items-center justify-center">{{ localize "Labels.Max" }}</span>
				</label>
			</div>

			<label class="flex flex-col bg-white border-1 border-fuchsia-200 border-solid">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 justify-center">{{ localize "Labels.Actor.SupplyPoints" }}</span>
				<input type="number" name="system.supplyPoints" value="{{ system.supplyPoints }}" min="0" class="!border-0 rounded-none !bg-none !text-center !text-2xl font-semibold !p-2 !h-full" />
			</label>
		</div>

		{{!-- Origin Benefits --}}
		<div class="flex flex-col">
			<span class="w-full bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.OriginBenefits" }}</span>
			<div class="w-full h-full bg-white border-1 border-t-0 border-fuchsia-200 p-2">
				{{#each originBenefits}}
					<div class="pl-4">
						<span class="font-bold -ml-4" data-menu="item" data-action="open-sheet" data-uuid="{{ uuid }}"><a>{{ name }}:</a></span>
						{{{ description }}}
					</div>
				{{/each}}
			</div>
		</div>

		{{!-- Talents --}}
		<div class="flex flex-col">
			<span class="w-full bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Talents" }}</span>
			<div class="w-full h-full bg-white border-1 border-t-0 border-fuchsia-200 p-2">
				{{#each talents}}
					<div class="pl-4">
						<span class="font-bold -ml-4" data-menu="item" data-action="open-sheet" data-uuid="{{ uuid }}"><a>{{ name }}:</a></span>
						{{{ description }}}
					</div>
				{{/each}}
			</div>
		</div>

		{{!-- Goal/Attitude/Drive --}}
		<div class="grid grid-cols-3 gap-4">
			<div class="flex flex-col bg-white border-1 border-fuchsia-200 border-solid">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 justify-center">{{ localize "Labels.Actor.Goal" }}</span>
				<div class="w-full h-full min-h-15 p-2">
					{{ editor enrichedGoal target="system.goal" button=true editable=editable engine="prosemirror" }}
				</div>
			</div>

			<div class="flex flex-col bg-white border-1 border-fuchsia-200 border-solid">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 justify-center">{{ localize "Labels.Actor.Attitude" }}</span>
				<div class="w-full h-full min-h-15 p-2">
					{{ editor enrichedAttitude target="system.attitude" button=true editable=editable engine="prosemirror" }}
				</div>
			</div>

			<div class="flex flex-col bg-white border-1 border-fuchsia-200 border-solid">
				<span class="bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 justify-center">{{ localize "Labels.Actor.Drive" }}</span>
				<div class="w-full h-full min-h-15 p-2">
					{{ editor enrichedDrive target="system.drive" button=true editable=editable engine="prosemirror" }}
				</div>
			</div>
		</div>

		{{!-- Equipment --}}
		<div class="flex flex-col">
			<span class="w-full bg-fuchsia-900 text-white uppercase font-semibold flex items-center px-1 h-full justify-center">{{ localize "Labels.Actor.Equipment" }}</span>
			<div class="w-full h-full bg-white border-1 border-t-0 border-fuchsia-200 p-2">
				{{#each equipment}}
					<div class="pl-4">
						<span class="-ml-4 flex whitespace-nowrap gap-1 text-lg" data-menu="item" data-action="open-sheet" data-uuid="{{ uuid }}">
							<a class="font-bold">{{ name }}{{#if (gt system.techLevel 0)}} (TL{{ system.techLevel }}){{/if}}{{#if system.hasQualities}}:{{else}}.{{/if}}</a>
							{{#if system.hasQualities}}
								<div class="flex flex-wrap whitespace-nowrap gap-x-1 gap-y-0.5 items-center w-full">
									{{#each system.qualities}}
										<span class="after:content-[','] after:-ml-1 last-of-type:after:content-['.']">
											<span>{{ label }}</span>
											{{#if rating}}
												<span>{{ rating }}</span>
											{{/if}}
										</span>
									{{/each}}
								</div>
							{{/if}}
						</span>
						{{#if system.description}}
							{{{ system.description }}}
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</form>
