{{#*inline "qualitiesInput"}}
	<div class="px-1 w-full">
		<label class="flex flex-wrap gap-x-1 gap-y-1 w-full items-center px-1 justify-center">
			{{#each value}}
				<span class="flex gap-1 border-1 border-solid border-black p-1 rounded-md bg-gray-100 font-roboto-flex items-center">
						<input type="hidden" name="{{ ../name }}.{{ @index }}.label" value="{{ label }}" />
						<span>{{ label }}</span>
						{{#if rating}}
							<input type="number" class="!w-10 !text-center !my-0 !h-5" name="{{ ../name }}.{{ @index }}.rating" value="{{ rating }}" />
						{{/if}}
						<a class="text-xs" data-action="delete-quality" data-name="{{ ../name }}" data-index="{{ @index }}" title="{{ localize "Labels.Item.DeleteQuality" }}">
							<i class="fas fa-trash"></i>
						</a>
					</span>
			{{/each}}
			<input name="new-quality" type="text" class="min-w-[100px] max-w-[150px] rounded-md" placeholder="{{ localize "Labels.Item.AddQualityPlaceholder" }}" data-action="add-quality" data-name="{{ name }}" />
		</label>
	</div>
{{/inline}}

{{#*inline "qualitiesDisplay"}}
	{{#if system.hasQualities}}
		<div class="flex flex-wrap font-semibold text-lg whitespace-nowrap gap-x-1 gap-y-0.5 items-center w-full justify-center">
			{{#each system.qualities}}
				<span class="after:content-[','] after:-ml-1 last-of-type:after:content-['.']">
						<span>{{ label }}</span>
					{{#if rating}}
						<span>{{ rating }}</span>
					{{/if}}
					</span>
			{{/each}}
		</div>
	{{/if}}
{{/inline}}

{{#*inline "techLevelValueInput"}}
	<div class="grid grid-cols-4 w-full">
		<label class="flex flex-col items-center font-semibold">
			<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.TechLevel" }}</span>
			<input type="number" class="disabled:!border-1 disabled:!border-solid !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.techLevel" value="{{ system.techLevel }}" />
		</label>
		<label class="flex flex-col items-center font-semibold">
			<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Item.SupplyPointCost" }}</span>
			<input type="text" class="disabled:!border-b-1 disabled:!border-t-1 disabled:!border-r-1 disabled:!border-solid !border-l-0 !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.supplyPointCost" value="{{ system.supplyPointCost }}" />
		</label>
		<label class="flex flex-col items-center font-semibold">
			<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Value" }}</span>
			<input type="number" class="disabled:!border-b-1 disabled:!border-t-1 disabled:!border-r-1 disabled:!border-solid !border-l-0 !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.value" value="{{ system.value }}" />
		</label>
		<label class="flex flex-col items-center font-semibold">
			<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Item.Rarity" }}</span>
			<input type="number" class="disabled:!border-b-1 disabled:!border-t-1 disabled:!border-r-1 disabled:!border-solid !border-l-0 !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.rarity" value="{{ system.rarity }}" />
		</label>
	</div>
{{/inline}}

<form class="{{ cssClass }} flex !flex-1 flex-col gap-1 items-center min-h-10">
	{{> systems/dreams-and-machines/templates/item/partials/item-header.hbs }}

	{{!-- Editable Sheet --}}
	{{#if editable}}
		{{#if system.isGLIF }}
			<div class="flex flex-col items-start w-full">
				<label class="flex items-center">
					<input type="checkbox" name="system.isGLIF" {{ checked system.isGLIF }} />
					<span>{{ localize "Labels.Item.IsGLIF" }}</span>
				</label>

				<div class="px-1 w-full">
					<label class="flex flex-col items-center font-semibold">
						<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Item.GLIF.Complexity" }}</span>
						<input type="number" class="disabled:!border-1 disabled:!border-solid !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.GLIF.complexity" value="{{ system.GLIF.complexity }}" />
					</label>
				</div>
			</div>
		{{else}}
			<div class="p-1 w-full">
				<div class="grid grid-cols-4 w-full">
					<label class="flex flex-col items-center font-semibold" style="grid-column: 1 / span 3;">
						<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Item.Category" }}</span>
						<input type="text" class="disabled:!border-1 disabled:!border-solid !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.category" value="{{ system.category }}" />
					</label>
					<label class="flex flex-col items-center font-semibold">
						<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Item.Quantity" }}</span>
						<input type="text" class="disabled:!border-b-1 disabled:!border-t-1 disabled:!border-r-1 disabled:!border-solid !border-l-0 !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.quantity" value="{{ system.quantity }}" />
					</label>
				</div>
			</div>

			{{!-- Weapon Block --}}
			<div class="flex flex-col items-start w-full">
				{{!-- Item Qualities --}}
				<div class="flex flex-col items-center w-full p-1">
					<div class="py-0.5 w-full text-center font-semibold uppercase text-white bg-fuchsia-900">{{ localize "Labels.Item.Qualities" }}</div>
					<div class="w-full border-1 border-t-0 border-fuchsia-900 border-solid p-1">
						{{> qualitiesInput value=system.qualities name="system.qualities" }}
					</div>
				</div>

				<div class="flex flex-col items-start w-full">
					<label class="flex items-center">
						<input type="checkbox" name="system.isGLIF" {{ checked system.isGLIF }} />
						<span>{{ localize "Labels.Item.IsGLIF" }}</span>
					</label>
				</div>

				{{!-- Is Weapon checkbox --}}
				<div class="grid grid-cols-2 gap-2 w-full pr-1">
					<label class="flex items-center">
						<input type="checkbox" name="system.isWeapon" {{ checked system.isWeapon }} />
						<span>{{ localize "Labels.Item.IsWeapon" }}</span>
					</label>

					{{#if system.isWeapon}}
						<select name="system.weapon.type" class="!w-full">
							{{#select system.weapon.type}}
								<option value="Melee">{{ localize "Labels.Item.Weapon.Melee" }}</option>
								<option value="Ranged">{{ localize "Labels.Item.Weapon.Ranged" }}</option>
								<option value="MeleeRanged">{{ localize "Labels.Item.Weapon.MeleeRanged" }}</option>
							{{/select}}
						</select>
					{{/if}}
				</div>

				{{!-- Weapon Stat Input --}}
				{{#if system.isWeapon}}
					<div class="w-full grid grid-cols-2 p-1">
						<label class="text-center bg-fuchsia-900 w-full text-white uppercase font-semibold p-1">
							{{ localize "Labels.Item.Damage" }}
						</label>

						<label class="text-center bg-fuchsia-900 w-full text-white uppercase font-semibold p-1">
							{{ localize "Labels.Item.Qualities" }}
						</label>

						<div class="border-1 border-solid border-t-0 border-fuchsia-900 p-1">
							{{> qualitiesInput value=system.weapon.damageQualities name="system.weapon.damageQualities" }}
						</div>

						<div class="border-1 border-solid border-t-0 border-fuchsia-900 p-1">
							{{> qualitiesInput value=system.weapon.qualities name="system.weapon.qualities" }}
						</div>
					</div>
				{{/if}}
			</div>

			{{!-- Protection Block --}}
			<div class="flex flex-col items-start w-full">
				<label class="flex items-center">
					<input type="checkbox" name="system.hasProtection" {{ checked system.hasProtection }} />
					<span>{{ localize "Labels.Item.HasProtection" }}</span>
				</label>

				{{#if system.hasProtection}}
					<div class="p-1 w-full">
						<div class="grid grid-cols-2 w-full">
							<label class="flex flex-col items-center font-semibold">
								<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Item.Protection" }}</span>
								<input type="number" class="disabled:!border-1 disabled:!border-solid !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.protection.value" value="{{ system.protection.value }}" />
							</label>
							<label class="flex flex-col items-center font-semibold">
								<span class="text-center py-0.5 w-full whitespace-nowrap bg-fuchsia-900 text-white uppercase">{{ localize "Labels.Item.ProtectionBreaker" }}</span>
								<input type="number" class="disabled:!border-b-1 disabled:!border-t-1 disabled:!border-r-1 disabled:!border-solid !border-l-0 !text-center !h-10 !text-3xl !rounded-none !w-full !border-fuchsia-900" name="system.protection.breaker" value="{{ system.protection.breaker }}" />
							</label>
						</div>
					</div>
				{{/if}}
			</div>

			{{!-- Tech Level & Value --}}
			<div class="px-1">
				{{> techLevelValueInput }}
			</div>
		{{/if}}

		{{!-- Description --}}
		{{> systems/dreams-and-machines/templates/item/partials/item-description.hbs }}
	{{!-- Non-Editable Sheet --}}
	{{else}}
		<div class="px-2 flex flex-col gap-2">
			<div class="text-center text-lg">
				{{{ enrichedDescription }}}
			</div>

			{{> qualitiesDisplay }}

			{{#if system.isWeapon}}
				<div class="w-full grid grid-cols-2 border-1 border-solid border-fuchsia-900">
					<label class="col-span-2 text-center w-full p-0.5 bg-fuchsia-900 text-white uppercase font-semibold">
						{{ localize "Labels.Item.Weapon.Label" }}
					</label>
					<span class="col-span-2 text-center text-xl font-semibold">
						{{ item.name }} ({{ localize (concat "Labels.Item.Weapon." system.weapon.type) }})
					</span>

					<label class="text-center w-full p-0.5 bg-fuchsia-900 text-white uppercase font-semibold">
						{{ localize "Labels.Item.Damage" }}
					</label>

					<label class="text-center w-full p-0.5 bg-fuchsia-900 text-white uppercase font-semibold">
						{{ localize "Labels.Item.Qualities" }}
					</label>

					<span class="text-lg w-full text-center border-0 border-r-1 border-solid border-fuchsia-900">
						{{#each system.weapon.damageQualities}}
							<em class="oblique font-semibold">{{ label }} {{ rating }}</em>
							{{#unless @last}}{{ localize "Labels.Item.Weapon.or" }}{{/unless}}
						{{/each}}
					</span>

					<span class="text-lg w-full text-center">
						{{#each system.weapon.qualities}}
							<span>{{ label }}{{#if rating}} {{ rating }}{{/if}}{{#unless @last}},{{/unless}}</span>
						{{/each}}
						{{#unless system.weapon.qualities}}—{{/unless}}
					</span>
				</div>
			{{/if}}

			{{#if system.hasProtection}}
				<div class="w-full text-center text-lg">
					<strong>{{ localize "Labels.Item.Protection" }}:</strong>
					{{#if system.protection.notes}}
						<span>{{ system.protection.value }}, {{{ system.protection.notes }}}</span>
					{{else}}
						<span>{{ system.protection.value }}</span>
					{{/if}}
				</div>
			{{/if}}

			{{> techLevelValueInput }}
		</div>
	{{/if}}
</form>
