<form class="{{ cssClass }} flex !flex-1 flex-col gap-1 items-center min-h-10">
	{{!-- Item Header --}}
	<div class="flex bg-black w-full p-2 gap-4 items-center">
		<img class="w-14 h-14 -m-2" src="{{ item.img }}" data-edit="img" alt="{{ item.name }}" />
		<input type="text" name="name" value="{{ item.name }}" class="!border-0 !text-white !text-3xl !h-full !font-roboto-flex uppercase focus:normal-case" />
	</div>

	{{!-- Tech Level --}}
	<label class="flex items-center gap-1 font-semibold whitespace-nowrap text-lg">
		<span>{{ localize "Labels.TechLevel" }}</span>
		<input type="number" class="!w-10 !text-center" name="system.techLevel" value="{{system.techLevel}}" />
	</label>

	{{!-- Item Qualities --}}
	{{#if editable}}
		<div class="px-1 w-full">
			<label class="flex flex-wrap gap-x-1 gap-y-0.5 w-full items-center px-1 justify-center">
				<span class="font-semibold text-lg">{{ localize "Labels.Item.Qualities" }}:</span>
				{{#each system.qualities}}
					<span class="flex gap-1 border-1 border-solid border-black px-1 rounded-md bg-gray-100 font-roboto-flex items-center">
						<input type="hidden" name="system.qualities.{{ @index }}.label" value="{{ label }}" />
						<span>{{ label }}</span>
						{{#if rating}}
							<input type="number" class="!w-10 !text-center" name="system.qualities.{{ @index }}.rating" value="{{ rating }}" />
						{{/if}}
						<a class="text-xs" data-action="delete-quality" data-index="{{ @index }}" title="{{ localize "Labels.Item.DeleteQuality" }}">
							<i class="fas fa-trash"></i>
						</a>
					</span>
				{{/each}}
				<input name="new-quality" type="text" class="min-w-[100px] max-w-[150px] rounded-md" placeholder="{{ localize "Labels.Item.AddQualityPlaceholder" }}" data-action="add-quality" />
			</label>
		</div>
	{{else}}
		{{#if system.hasQualities}}
			<div class="flex flex-wrap font-semibold text-lg whitespace-nowrap gap-x-1 gap-y-0.5 items-center w-full justify-center">
				{{#each system.qualities}}
					<span class="after:content-[','] after:-ml-1 last-of-type:after:content-['.']">
						<span>{{ label }}</span>
						{{#if rating}}
							<span>{{ rating }}</span>
						{{/if}}
					</span>
				{{/each}}
			</div>
		{{/if}}
	{{/if}}

	{{!-- Description --}}
	<div class="w-full h-full min-h-15 p-1">
		{{ editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror" }}
	</div>
</form>
